<div class="piano-octave">
  <div class="white-keys">
    @for (whiteKey of whiteKeys; track whiteKey.index) {
      <div
        class="white-key"
        [class.active]="isActive(whiteKey)"
        [class.root]="isRoot(whiteKey)"
        [attr.data-note]="whiteKey.note.name"
        [style.width.%]="whiteKeyWidthPercent"
      >
        <span class="note-label">{{ whiteKey.note.name }}</span>
      </div>
    }
  </div>
  <div class="black-keys">
    @for (blackKey of blackKeys; track blackKey.index) {
      @if (getBlackKeyPosition(blackKey) !== null) {
        <div
          class="black-key"
          [style.left]="
            'calc(' +
              whiteKeyWidthPercent * (getBlackKeyPosition(blackKey)! + 1) +
              '% - var(--black-key-offset))'
          "
          [class.active]="isActive(blackKey)"
          [class.root]="isRoot(blackKey)"
          [attr.data-note]="blackKey.note.name"
        >
          <span class="note-label">{{ blackKey.note.name }}</span>
        </div>
      }
    }
  </div>
</div>
