:host {
  display: block;
  --piano-width: 100%;
  --piano-height: 100%;
  --white-key-number: 7;
  --white-key-width: calc(var(--piano-width) / var(--white-key-number));
  --white-key-height: 100%;
  --white-key-label-size: 100%;
  --white-key-radius: 0 0 0.3em 0.3em;
  --black-key-width: calc(var(--white-key-width) * 0.6);
  --black-key-radius: 0 0 0.4em 0.4em;
  --black-key-offset: calc(var(--black-key-width) / 2);
  --black-key-height: 65%;
  --black-key-label-size: 100%;
  --black-key-shadow: 0 2px 8px #000a;
}

.piano-octave {
  position: relative;
  width: var(--piano-width);
  height: var(--piano-height);
  overflow: hidden;
}

.white-keys {
  display: flex;
  height: 100%;
  z-index: 1;
}

.white-key {
  height: 100%;
  border: 0.09em solid var(--ion-color-light-shade, #d7d8da);
  border-right: none;
  background: linear-gradient(
    to bottom,
    var(--ion-color-light, #f4f5f8) 90%,
    var(--ion-color-light-tint, #f5f6f9) 100%
  );
  box-sizing: border-box;
  transition: background 0.15s, border 0.15s;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--ion-color-medium, #636469);
}

.white-key:last-child {
  border-right: 0.09em solid var(--ion-color-light-shade, #d7d8da);
}

.white-key .note-label {
  font-size: var(--white-key-label-size);
  color: inherit;
}

.white-key.active {
  background: linear-gradient(
    to bottom,
    var(--ion-color-primary-tint, #1a65eb) 90%,
    var(--ion-color-primary, #0054e9) 100%
  );
  border-color: var(--ion-color-primary, #0054e9);
  color: var(--ion-color-primary-contrast, #fff);
}
.white-key.active .note-label {
  color: var(--ion-color-primary-contrast, #fff);
}

.white-key.root {
  color: var(--ion-color-tertiary-contrast, #fff);
}
.white-key.root .note-label {
  color: var(--ion-color-tertiary-contrast, #fff);
  font-weight: bold;
}

.black-keys {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--black-key-height);
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.black-key {
  position: absolute;
  width: var(--black-key-width);
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--ion-color-dark, #222428) 85%,
    var(--ion-color-medium, #636469) 100%
  );
  border: 0.1em solid var(--ion-color-dark-tint, #383a3e);
  border-radius: var(--black-key-radius);
  box-shadow: var(--black-key-shadow);
  transition: all 0.2s;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  pointer-events: auto;
  color: var(--ion-color-light-tint, #f5f6f9);
}

.black-key .note-label {
  font-size: var(--black-key-label-size);
  color: inherit;
}

.black-key.active {
  background: linear-gradient(
    to bottom,
    var(--ion-color-primary-tint, #1a65eb) 90%,
    var(--ion-color-primary, #0054e9) 100%
  );
  border-color: var(--ion-color-primary, #0054e9);
  color: var(--ion-color-primary-contrast, #fff);
}
.black-key.active .note-label {
  color: var(--ion-color-primary-contrast, #fff);
}

.black-key.root {
  color: var(--ion-color-tertiary-contrast, #fff);
}
.black-key.root .note-label {
  color: var(--ion-color-tertiary-contrast, #fff);
  font-weight: bold;
}
