<ion-header translucent>
  <ion-toolbar>
    <ion-title>Tonalys {{ version }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <h1 class="page-title">Explore the Scales</h1>
  <ion-list lines="none">
    @for (scale of scales$ | async; track $index) {
      <ion-card
        [routerLink]="['scale', scale.tonic.name, scale.mode.name]"
        routerDirection="forward"
        button
        detail="false"
        class="scale-card"
      >
        <ion-card-header>
          <ion-card-title>
            {{ scale.tonic.name }} {{ scale.mode.name }}
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="notes-container">
            @for (note of scale.notes; track $index) {
              <ion-chip [color]="note.name === scale.tonic.name ? 'primary' : 'medium'">
                <ion-label>{{ note.name }}</ion-label>
              </ion-chip>
            }
          </div>
          <div class="piano-container">
            <app-piano-octave
              [notesToHighlight]="scale.notes"
              [rootNote]="scale.tonic"
              class="octave-inline"
            ></app-piano-octave>
          </div>
        </ion-card-content>
      </ion-card>
    }
  </ion-list>
</ion-content>
