<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tonalys</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-accordion-group [multiple]="true">
    @for (scale of (sortedScales$ | async); track $index) {
      <ion-accordion>
        <ion-item slot="header" lines="none">
          <ion-icon slot="start" name="musical-note-outline"></ion-icon>
          <ion-label>
            <h2>{{ scale.tonic.name }} {{ scale.mode.name }}</h2>
            <p>{{ getScalesNotesRepresentation(scale) }}</p>
          </ion-label>
        </ion-item>

        <ion-list slot="content" lines="none">
          <app-piano-octave [scale]="scale"></app-piano-octave>
          @for (note of scale.notes; track note) {
            <ion-item>
              <ion-icon slot="start" name="musical-note-outline"></ion-icon>
              <ion-label>{{ note.name }}</ion-label>
            </ion-item>
          }
        </ion-list>
      </ion-accordion>
    }
  </ion-accordion-group>
</ion-content>
